.grid {
    width: 900px;
    height: 900px;
    border: solid black 1px;
    display: flex;
    flex-wrap: wrap;
    background-image:url("assets/space.jpg");
}

.grid div {
    width: 60px;
    height: 60px;
}

.invader{
    content:url("assets/alien.png");
    border-radius: 10px;
}

.shooter{
    content:url("assets/ship_light.png");

}

.laser{
    content:url("assets/laser.png");
    size: 1px;
}

.boom{
    content:url("assets/aliendead.png");
}

#top_list {
    width: 300px;
    height: 500px;
    position: absolute;
    left: 950px;
    background-color: darkslategray;
    color: floralwhite;
    font-family: monospace;
}
#list {
    left: 0;
    font-size: 18px;
    position: relative;
    text-align: center;
}

.gameState{
    color: greenyellow;
    font-family: "Agency FB";
    position: absolute;
    left: 410px;
    top: 450px;
}
.results{
    color: greenyellow;
    font-family: "Agency FB";

}
body{
    background-color: #0a0a0a;
}